# Ignore Python bytecode
*.pyc
*.pyo
*.pyd
__pycache__/

# Ignore virtual environment folders
venv/
mi_entorno/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore VSCode settings
.vscode/

# Ignore environment variables or API keys
.env
